[package]
name = "poe_data_tools"
version = "1.4.0"
edition = "2024"

[lib]
name = "poe_data_tools"
path = "src/lib.rs"

[[bin]]
name = "poe_data_tools"
path = "src/bin/poe_data_tools.rs"

[dependencies]
anyhow = "1.0.100"
murmurhash64 = "0.3.1"
nom = "8.0.0"
oozextract = "0.5.0"
winnow = "0.7"
clap = { version = "4.5.53", features = ["derive", "string", "help"] }
reqwest = { version = "0.12.25", features = ["blocking"] }
url = "2.5.7"
dirs = "6.0.0"
bytes = "1.11.0"
glob = "0.3.3"
serde = {version = "1.0.228", features = ["derive"]}
serde_json = "1.0.145"
rayon = "1.11.0"
image = { git = "https://github.com/RunDevelopment/image", branch = "new-dds-decoder" }
iterators_extended = "0.2.0"
itertools = "0.14.0"

# Arrow - for dataframe stuff
arrow-csv = "56.2.0"
arrow-array = "56.2.0"
arrow-cast = "56.2.0"
arrow-schema = "56.2.0"
regex = "1.12.3"

[dev-dependencies]
criterion = { version = "0.3", features = ["html_reports"] }

[[bench]]
name = "fs"
harness = false

# Enable a small amount of optimization in the dev profile.
[profile.dev]
opt-level = 1

# Enable a large amount of optimization in the dev profile for dependencies.
[profile.dev.package."*"]
opt-level = 3

[profile.release]
incremental = true
