[package]
name = "poe_data_tools"
version = "0.5.0"
edition = "2021"

[lib]
name = "poe_data_tools"
path = "src/lib.rs"

[[bin]]
name = "poe_data_tools"
path = "src/bin/poe_data_tools.rs"

[dependencies]
anyhow = "1.0.93"
murmurhash64 = "0.3.1"
nom = "7.1.3"
oozextract = "0.5.0"
clap = { version = "4.5.21", features = ["derive", "string", "help"] }
reqwest = { version = "0.12.12", features = ["blocking"] }
url = "2.5.4"
dirs = "6.0.0"
bytes = "1.9.0"
glob = "0.3.2"
serde = {version = "1.0.217", features = ["derive"]}
serde_json = "1.0.137"
rayon = "1.10.0"
image = { git = "https://github.com/RunDevelopment/image", branch = "new-dds-decoder" }
iterators_extended = "0.2.0"
itertools = "0.14.0"

# Arrow - for dataframe stuff
arrow-csv = "56.1.0"
arrow-array = "56.1.0"
arrow-cast = "56.1.0"
arrow-schema = "56.1.0"

[dev-dependencies]
criterion = { version = "0.3", features = ["html_reports"] }

[[bench]]
name = "fs"
harness = false

# Enable a small amount of optimization in the dev profile.
[profile.dev]
opt-level = 1

# Enable a large amount of optimization in the dev profile for dependencies.
[profile.dev.package."*"]
opt-level = 3

[profile.release]
incremental = true
